.cancha{
    background-color: #8cb27c;
    width: 79%;
    height: 75%;
    position: absolute;
    top: 12%;
    left: 10%;
    
}
.linea {
    width: 96%;
    height: 92%;
    border: 1px solid #fff;
    position: absolute;
    top: 3%;
    left: 1.5%;
}
.arco1, .arco2 {
    width: 15%;
    height: 45%;
    position: absolute;
    border: 1px solid #fff;
}

.arco1{
    top: 27%;
    border-left: none;
}
.arco2{
    top: 27%;
    left: 85%;
    border-right: none;   
}
.circulo {
    width: 20%;
    height: 40%;
    border: 1px solid #fff;
    margin: auto;
    position: absolute;
    top:28%;
    left: 40%;
    border-radius: 100%;   
}
.ball1{
    position: absolute;
    left:14%;
    top:30%;
}
.ball2{
    position: absolute;
    left:55%;
    top:15%;
}
.ball3{
    position: absolute;
    left:82.5%;
    top: 68%;
}